<nav class="main-nav">
  <a href="/">Home</a>
  <a href="/Staff">Our Staff</a>
  <a href="/History">Our History</a>
  <a href="/Work">Our Work</a>
  <a href="/Partners">Our Partners</a>
  <a href="/Contact">Contact Us</a>
</nav>
