<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
  <link rel="stylesheet" href="/css/app.css"> 
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Contact Us</h1>
        <p>Name: <%= company.name %></p>
        <p>Address: <%= company.address %></p>
        <p>Phone: <%= company.phone %></p>
</body>
</html>